html {
    font-size: 0.85rem;
    font-family: sans-serif;
}

body {
    background-color: #21232d;
    color: #d0d0d0;
    padding:0;
    margin:0;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #393d50;
    border-bottom: 0.3rem solid #000000;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-entry {
    display: flex;
    transition-duration: 0.5s;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.nav-entry:hover {
    background-color: #2d3144;
}
.nav-icon {
    display: block;
    height: 3rem;
    width: auto;
    padding-right: 0.5rem;
}
.nav-text {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    color: #d0d0d0;
    text-decoration: none;
}

.content-container {
    max-width: 100rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

.itemgrid {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 15rem); /* 20% 20% 20% 20% 20%;*/
}
.itementry {
    background-color: #393d50;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
.itementry a {
    text-decoration: none;
}
.navicon-container {
    text-align: center;
    padding-top: 1rem;
}
.navicon {
    width: 8rem;
    height: 8rem;
}
.navelement-container {
    padding-top: 0.2rem;
    text-align: center;
}
.navelement {
}
.navtext {
    padding-top: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    color: #d0d0d0;
}
.navtext-weapon {
    padding-top: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    color: #d0d0d0;
}

.stats {
    border-radius: 10px;
    border-collapse: collapse;
    margin-top: 0.5rem;
}
.stats th {
    background-color: #000000;
}
.stats th, .stats td {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;  
}
.stats tr:nth-child(odd) {
    background-color: #191b24;
}
.stats tr:nth-child(even) {
    background-color: #0f0f15;
}


.infotable {
    border-radius: 10px;
    border-collapse: collapse;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.infotable td {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 1.2rem;
}
.infotable tr:nth-child(odd) {
    background-color: #1c1c2d;
}
.infotable tr:nth-child(even) {
    background-color: #29293c;
}
.infokey {
    width: 10rem;
}
.infovalue {
    width: 15rem;
}

.attribs {
    margin-top: 10px;
    border-collapse: collapse;
}
.attribs th {
    background-color: #000000;
}
.attribs th, .attribs td {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}
.attribs td {
    font-size: 0.8rem;
}
.attribs tr:nth-child(odd) {
    background-color: #191b24;
}
.attribs tr:nth-child(even) {
    background-color: #0f0f15;
}

.costgrid {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 8rem);
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: min-content;*/
}
.costgrid-half {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    /*grid-template-columns: auto auto auto auto auto;*/
    grid-template-columns: repeat(auto-fit, 8rem);
}
.costentry {
    background-color: #393d50;
    border-radius: 1rem;
    width: 8rem;
    height: 8rem;
}
.costentry a {
    text-decoration: none;
}
.costicon-container {
    text-align: center;
}
.costicon {
    width: 6rem;
    height: 6rem;
}
.costtext {
    font-size: 1.2rem;
    text-align: center;
    color: #d0d0d0;
}





.storygrid {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 49rem);
}
.storyentry {
    background-color: #393d50;
    border-radius: 1rem;
    width: 49rem;
    height: 25rem;
}

.goods-story-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.story-image {
    width: 15rem;
    height: auto;
    display: block;
}

.offset-anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -5rem;
}

.role-navigation {
    margin-top: 0.5rem;
}
.role-navigation a {
    display: block;
    height: 1.8rem;
    background-color: #3f3f49;
    border: 0.1rem solid #d0d0d0;
    border-radius: 0.9rem;
    text-decoration: none;
    margin-bottom: 0.3rem;
}
.role-navigation-text {
    margin-top: 0.25rem;
    width: 100%;
    text-align: center;
    color: #d0d0d0;
    font-size: 1.2rem;
}



.Title {
    font-weight: bold;
    color: #98a6b4;
}
.Highlight {
    font-style: italic;
}
.Ice {
    color: #41AEFB;
}
.Light {
    color: #F8E56C;
}
.Fire {
    color: #F0744E;
}
.Dark {
    color: #E649A6;
}
.Thunder {
    color: #B46BFF;
}
.Wind {
    color: #55FFB5;
}

.quality-1 {
    /*box-shadow: inset 0 -5.5rem 1.1rem -5.0rem #efece1;*/
    border-bottom: 0.3rem solid #efece1;
}
.quality-2 {
    /*box-shadow: inset 0 -5.5rem 1.1rem -5.0rem #5cc35e;*/
    border-bottom: 0.3rem solid #5cc35e;
}
.quality-3 {
    /*box-shadow: inset 0 -5.5rem 1.1rem -5.0rem #59b4d3;*/
    border-bottom: 0.3rem solid #59b4d3;
}
.quality-4 {
    /*box-shadow: inset 0 -5.5rem 1.1rem -5.0rem #ca6dff;*/
    border-bottom: 0.3rem solid #ca6dff;
}
.quality-5 {
    /*box-shadow: inset 0 -5.5rem 1.1rem -5.0rem #ffe65a;*/
    border-bottom: 0.3rem solid #ffe65a;
}

.param {
    color:#F8E56C;
}


.name {
    display: block;
    font-size: 4rem;
    margin-bottom: 0.3rem;
}
.nickname {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.section {
    display: block;
    font-size: 2.4rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.subsection {
    display: block;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.skill {
    display: block;
    background-color: #343746;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.skillname {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}
.skilldescription {
    line-height: 150%;
}

.description {
    line-height: 150%;
}
.bg_description {
    color: #9f9f9f;
    line-height: 150%;
}
.itemtype {
    font-size: 1.6rem;
    display: block;
}
.basetable {
    display: flex;
    margin-top: 1.5rem;
}
.iconcontainer {
}
.icon-role {
    width: auto;
    height: 40rem;
}
.icon-weapon {
    width: 35rem;
    height: 35rem;
}
.icon-item {
    width: 35rem;
    height: 35rem;
}
.icon-monster {
    width: 35rem;
    height: 35rem;
}
.baseinfo {
    margin-left: 6rem;
}
.baseinfo-data {
    margin-left: 6rem;
    width: 20rem;
    text-align: justify;
    text-justify: distribute;
}

.costsection {
    width: 50%;
    margin-right: 5rem;
}

.collapsible-toggle {
    margin-top: 1rem;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    background-color: #292c3c;
    color: #d0d0d0;
}
.collapsible-toggle:hover {
    background-color: #363a4c;
}
.collapsible-section {
    display: none;
    overflow: hidden;
    background-color: #292c3c;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.damage-note {
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    font-size: 0.8rem;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}
